APP_HOST=0.0.0.0
APP_PORT=8000

SOURCE_API_URL=http://91.199.149.128:18001
SOURCE_API_CANDIDATE_ID=cadidates_name

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=file_analyzer
POSTGRES_USER=file_analyzer
POSTGRES_PASSWORD=file_analyzer

REDIS_URL=redis://redis:6379/0

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672//

DOWNLOAD_DIR=downloads
TIMEZONE=Asia/Novosibirsk
